@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

* {box-sizing: border-box;}

body {
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    font: 16px;
    font-weight: 400;
}

.list {
    list-style: none;
}

.button {
    border: none;
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
}

.link {
    text-decoration: none;
}

.menu-button {
    width: 20px;
    height: 17px;
    margin-right: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

.header {
    padding: 20px 70px 20px 32px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.menu-line {
    display: block;
    background: #1F2022;
    width: 20px;
    height: 3px;
    border-radius: 20px;

}

.logo {
    margin-right: 59px;
    width: 116px;
    height: 62px;
}

.input-group {
    border-radius: 22px;
    background-color: #EBEBEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 830px;
    width: 50%;

}

.input-search {
    background-color: transparent;
    border: none;
    padding: 12px 23px;
    outline: none;
    width: 100%;
}

.button-search {
    width: 19px;
    height: 19px;
    background-color: transparent;
    padding-right: 35px;
}

.icon-search {
    width: 19px;
    height: 19px;
    fill: black;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.icon-video {
    width: 27px;
    height: 20px;
}

.icon-shape {
    width: 21px;
    height: 21px;
}

.icon-bell {
    width: 22px;
    height: 26px;
}

.icons-link {
    opacity: 0.24;
}
.icons-link:hover {
    opacity: 0.8;
}
.icons-link:not(:last-child) {
    margin-right: 50px;
}

.user {
    margin-left: 45px;
}

.user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.sidebar {
    padding-left: 32px;
}

.nav-menu {
    margin-top: 0;
    margin-bottom: 60px;
    padding-left: 0;
}
.nav-item {
    margin-bottom: 28px;
}
.nav-item .icon {
    fill: #898989;
}

.nav-text {
    margin-left: 13px;
}

.nav-link {  
    display: flex;
    align-items: center;
    color: #898989;
}
.nav-link:hover {
    color: #FF0000;
}
.nav-link:hover .icon {
    fill:#FF0000;
}

.nav-image {
    width: 26px;
    height: 26px;
}

.nav-title {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    margin-bottom: 30px;
}